<div
  [ngClass]="cardClasses"
  [ngStyle]="{
    'border-left-color': borderColor
  }">

  <h3>{{ course.name | uppercase }}</h3>

  <p>Course ID: {{ course.id }}</p>

  <p>Code: {{ course.code }}</p>

  <p>
    Credits: {{ course.credits | creditLabel }}
  </p>

  <div [ngSwitch]="course.gradeStatus">

    <span
      *ngSwitchCase="'passed'"
      style="color: green">
      Passed
    </span>

    <span
      *ngSwitchCase="'failed'"
      style="color: red">
      Failed
    </span>

    <span
      *ngSwitchCase="'pending'"
      style="color: grey">
      Pending
    </span>

  </div>

  <br>

  <button
    (click)="enrollRequested.emit(course.id)">
    Enroll
  </button>

  <button (click)="toggleDetails()">
    Show Details
  </button>

  <div *ngIf="isExpanded">
    <p>
      Course {{ course.code }} has
      {{ course.credits | creditLabel }}.
    </p>
  </div>

</div>