form {
  max-width: 550px;
  padding: 20px;
  border: 1px solid #ccc;
}

div {
  margin-bottom: 10px;
}

label {
  display: inline-block;
  width: 180px;
}

input,
select {
  padding: 6px;
}

span {
  display: block;
  color: red;
  margin-left: 185px;
}

button {
  margin-right: 10px;
  padding: 8px 15px;
}

.ng-invalid.ng-touched {
  border-color: red;
}

.ng-valid.ng-touched {
  border-color: green;
}